# Sript para recuperar os √∫ltimos 800 tweets, n√£o importando de qual perfil, que contenham a palavra ou express√£o-chave definida

## Configura√ß√£o do notebook

In [1]:
# Conex√£o do Colab ao Google Drive (arquivos)

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Instala√ß√£o da bibliteca python que consome a API do Twitter

!pip install tweepy==4.5.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tweepy==4.5.0
  Downloading tweepy-4.5.0-py2.py3-none-any.whl (66 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 66.0/66.0 kB 3.0 MB/s eta 0:00:00
Requirement already satisfied: requests<3,>=2.27.0 in /usr/local/lib/python3.9/dist-packages (from tweepy==4.5.0) (2.27.1)
Requirement already satisfied: requests-oauthlib<2,>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from tweepy==4.5.0) (1.3.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27.0->tweepy==4.5.0) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27.0->tweepy==4.5.0) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27.0->tweepy==4.5.0) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27.0->tweepy==4.5.0) (1.26.15)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.9/dist-packages (from requests-oauthlib<2,>=1.0.0->tweepy==4.5.0) (3.2.2)
Installing collected packages: tweepy
  Attempting uninstall: tweepy
    Found existing installation: tweepy 4.13.0
    Uninstalling tweepy-4.13.0:
      Successfully uninstalled tweepy-4.13.0
Successfully installed tweepy-4.5.0

In [3]:
# Importa√ß√£o das bibliotecas python necess√°rias

import tweepy # Biblioteca de chamada √† API
import pandas as pd # Biblioteca para manipula√ß√£o/estrutura√ß√£o dos dados

## Autentica√ß√£o na API

In [4]:
# Autentica√ß√£o
"""
O token √© obtido por meio de app criado no portal de desenvolvedores
 da rede social: https://developer.twitter.com/en
"""
bearer_token = # "<INSERT>"

# Vari√°vel de chamada √† API
client = tweepy.Client(bearer_token=bearer_token)

## Requisi√ß√£o e manipula√ß√£o dos resultados (dados)

In [5]:
# Cria√ß√£o de listas vazias para armazenar os dados resultante da requisi√ß√£o
id = []
data = []
texto = []
retweets = []
respostas = []
likes = []
mentions = []

# Vari√°vel para guardar a palavra ou termo-chave de interesse, usada na requisi√ß√£o
# Apresenta par√¢metros opcionais (exclui retweets)
query = "lysoform -is:retweet"

# Chamada √† API com loop e pagina√ß√£o de resultados para extra√ß√£o da quantidade m√°xima de tweets permitida pelo endpoint (limit)
for tweet in tweepy.Paginator(client.search_recent_tweets, query=query,
                            tweet_fields=["id","text","created_at","public_metrics"],max_results=100).flatten(limit=800):

  # Inser√ß√£o dos resultados nas listas
  id.append(tweet['id'])
  data.append(tweet['created_at'])
  texto.append(tweet['text'])
  retweets.append(tweet['public_metrics']['retweet_count'])
  respostas.append(tweet['public_metrics']['reply_count'])
  likes.append(tweet['public_metrics']['like_count'])
  mentions.append(tweet['public_metrics']['quote_count'])

  # Cria√ß√£o de dicion√°rio para armazenar as listas
  df = {'tweet id':id, 'data':data, 'texto':texto, 'likes':likes, 'retweets':retweets, 'respostas':respostas, 'men√ß√µes':mentions}

# Transforma√ß√£o do dicion√°rio (python) em dataframe (pandas)
dados_tweets = pd.DataFrame(df)

In [6]:
dados_tweets

,tweet id,data,texto,likes,retweets,respostas,men√ß√µes
0,1646261589635366913,2023-04-12 21:18:43+00:00,@tanqueapedales El vendedor de lysoform al d√≠a...,0,0,0,0
1,1646243830583250944,2023-04-12 20:08:09+00:00,‚ú® AMAZON: PROMO√á√ÉO | CUPOM | DESCONTO ‚ú®\n\nüíñ O...,0,0,0,0
2,1646226466873520130,2023-04-12 18:59:09+00:00,@monni_tuiteira Eu vejo ela tomar banho todo d...,0,0,0,0
3,1646220425297264643,2023-04-12 18:35:09+00:00,@doncomedia Desinfectante bucal dijo el manant...,0,0,0,0
4,1646197047316430869,2023-04-12 17:02:15+00:00,@Dantinhas Haja Lysoform pra tirar a nhaca,0,0,0,0
...,...,...,...,...,...,...,...
67,1644045421155610626,2023-04-06 18:32:27+00:00,Me compre un desodorante rexona al asar y resu...,1,0,0,0
68,1643977751286927368,2023-04-06 14:03:34+00:00,@Lorrayn40084667 @kellyybarreto @Dantinhas Car...,0,0,0,0
69,1643822196299649027,2023-04-06 03:45:26+00:00,me enoj√© tanto por las mocas rompe bolas q no ...,0,0,0,0
70,1643790261963685888,2023-04-06 01:38:33+00:00,T√¥ aqui lembrando de quando eu liguei no SAC d...,0,0,1,0
71,1643750888828448768,2023-04-05 23:02:05+00:00,@lisboagabriela_ Fala pra ela deixar de molho ...,0,0,1,0

In [7]:
# Salvando dataframe como arquivo csv no Drive

dados_tweets.to_csv(r'/content/drive/MyDrive/SCRIPTS/tt_kargs.csv')