<a href="https://colab.research.google.com/github/andreluismiller/apis_scripts/blob/main/tt_user_posts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Script para recuperar os dados p√∫blicos dos √∫ltimos 800 tweets de determinado usu√°rio do Twitter

## Configura√ß√£o do notebook

In [1]:
# Conex√£o do Colab ao Google Drive (arquivos)

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Instala√ß√£o da bibliteca python que consome a API do Twitter

!pip install tweepy==4.5.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tweepy==4.5.0
  Downloading tweepy-4.5.0-py2.py3-none-any.whl (66 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 66.0/66.0 kB 2.6 MB/s eta 0:00:00
Requirement already satisfied: requests<3,>=2.27.0 in /usr/local/lib/python3.9/dist-packages (from tweepy==4.5.0) (2.27.1)
Requirement already satisfied: requests-oauthlib<2,>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from tweepy==4.5.0) (1.3.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27.0->tweepy==4.5.0) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27.0->tweepy==4.5.0) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27.0->tweepy==4.5.0) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27.0->tweepy==4.5.0) (3.4)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.9/dist-packages (from requests-oauthlib<2,>=1.0.0->tweepy==4.5.0) (3.2.2)
Installing collected packages: tweepy
  Attempting uninstall: tweepy
    Found existing installation: tweepy 4.13.0
    Uninstalling tweepy-4.13.0:
      Successfully uninstalled tweepy-4.13.0
Successfully installed tweepy-4.5.0

In [3]:
# Importa√ß√£o das bibliotecas python necess√°rias

import tweepy # Biblioteca para autentica√ß√£o e chamadas √† API
import pandas as pd # Biblioteca para manipula√ß√£o/estrutura√ß√£o dos dados

## Autentica√ß√£o na API

In [4]:
#Autentica√ß√£o
"""
O token √© obtido por meio de app criado no portal de desenvolvedores
 da rede social: https://developer.twitter.com/en
"""
bearer_token = # "<INSERT>"

#Vari√°vel de chamada √† API
client = tweepy.Client(bearer_token=bearer_token)

## Requisi√ß√£o e manipula√ß√£o dos resultados (dados)

In [5]:
# Par√¢metro da chamada √† API: ID do perfil (@TwitterDev)
user_id = 2244994945 

# Cria√ß√£o de listas vazias para armazenar os dados resultante da requisi√ß√£o
id = []
data = []
texto = []
retweets = []
respostas = []
likes = []
mentions = []

# Chamada √† API com loop e pagina√ß√£o de resultados para extra√ß√£o da quantidade m√°xima de tweets permitida pelo endpoint (limit)
for tweet in tweepy.Paginator(client.get_users_tweets, id=user_id, exclude=['replies'],
                            tweet_fields=["id","text","created_at","public_metrics"],max_results=100).flatten(limit=800):

  # Inser√ß√£o dos resultados nas listas 
  id.append(tweet['id'])
  data.append(tweet['created_at'])
  texto.append(tweet['text'])
  retweets.append(tweet['public_metrics']['retweet_count'])
  respostas.append(tweet['public_metrics']['reply_count'])
  likes.append(tweet['public_metrics']['like_count'])
  mentions.append(tweet['public_metrics']['quote_count'])

  # Cria√ß√£o do dataframe (estrutura de dados Pandas-python)
  df = {'tweet id':id, 'data':data, 'texto':texto, 'likes':likes, 'retweets':retweets, 'respostas':respostas, 'men√ß√µes':mentions}

dados_tweets = pd.DataFrame(df)

In [6]:
#Visualiza√ß√£o preliminar dos dados

dados_tweets

,tweet id,data,texto,likes,retweets,respostas,men√ß√µes
0,1643373950930661377,2023-04-04 22:04:16+00:00,üö® If your developer account application was un...,302,96,106,35
1,1641222789901484034,2023-03-29 23:36:20+00:00,Thank you for your patience as we introduce yo...,139,81,89,26
2,1641222788911624192,2023-03-29 23:36:19+00:00,"For Academia, we are looking at new ways to co...",172,103,37,60
3,1641222787934355456,2023-03-29 23:36:19+00:00,Ads API will continue to be available at no ad...,133,68,5,3
4,1641222786894135296,2023-03-29 23:36:19+00:00,"Over the next 30 days, we will deprecate curre...",261,339,39,237
...,...,...,...,...,...,...,...
795,943181040629272576,2017-12-19 18:07:38+00:00,"As part of this, welcome messages are now name...",25,7,4,1
796,943181039278665728,2017-12-19 18:07:37+00:00,In addition to enabling better ways to get dat...,25,5,4,2
797,943181038087532545,2017-12-19 18:07:37+00:00,"Starting on January 15th, we will also be deli...",24,5,1,2
798,943181036393033728,2017-12-19 18:07:37+00:00,"Second, is a new beta for the standard version...",25,6,3,4
799,943181034434322432,2017-12-19 18:07:36+00:00,"First, is an enterprise version of the Account...",43,16,4,2

In [8]:
# Salvando dataframe como arquivo csv no Drive

dados_tweets.to_csv(r'/content/drive/MyDrive/SCRIPTS/user_tweets.csv') #Mudar nome do arquivo conforme usu√°rio